<div style="display:block">
    <div style="width: 20%; display: inline-block; text-align: left;">
    </div>
    <div style="width: 59%; display: inline-block">
        <h1  style="text-align: center">RFM Customer Analysis</h1>
        <div style="width: 90%; text-align: center; display: inline-block;"><i>Author:</i> <strong>Anjana Ranjan</strong> </div>
    </div>
    <div style="width: 20%; text-align: right; display: inline-block;">
        <div style="width: 100%; text-align: left; display: inline-block;">
            <i>Created: </i>
            <time datetime="Enter Date" pubdate>July, 2018</time>
        </div>
    </div>
</div>

# Functionality
RFM stands for Recency, Frequency, and Monetary. It is a customer segmentation technique that uses past purchase behavior to divide customers into groups.

RFM Score Calculations
* RECENCY (R): Days since last purchase
* FREQUENCY (F): Total number of purchases
* MONETARY VALUE (M): Total money this customer spent


A score is calculated based on these 3 parameters and the customers are judged based on their respective scores. 
<img src="https://cdn-images-1.medium.com/max/800/1*MeXvFG4Ez0wStMDCXZyN-Q.png" />

Each segment of customers is aptly dealt with, 

For example:

**Best Customers - Champions**: Reward them. They can be early adopters to new products. Suggest them "Refer a friend".

**At Risk**: Send them personalized emails to encourage them to shop.

##  Required parameters
* Input Dataframe which consits of sales data.
* The dataframe should contain the equivalent of the following attributes/columns:
    * Customer ID(Unique ID of each customer)
    * Date of transaction
    * Revenue: consists the cost of all units purchased(Optional: can be provided instead of 'Unit Price') 
    * Quantity: No. of items purchased
    * Unit Price: If the total Revenue is not present in the dataset. the Unit Price attribute should be given. Used      instead of 'Revenue' attribute
    * Invoice Number: The number provided to keep track of the sales transactions

## Input parameters
* DataFrame containing sales data
* Following column names must be entered:
    * customerID=
    * date=
    * revenue=(Optional, used in case no 'unitprice' column present)
    * quantity=
    * unitprice=(Optional, used in case no 'revenue' column present)
    * invoiceNO

## return
* DataFrame containing scores of each customer
* An analysis of number of Best Customers, Loyal Customers,
 Big Spenders,
 Almost Lost,
 Lost Customers, and
 Lost Cheap Customers.

# Code

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.

import time, warnings
import datetime as dt

#visualizations
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
%matplotlib inline
import seaborn as sns

warnings.filterwarnings("ignore")

In [2]:
retail_df = pd.read_csv('sales.csv',encoding="ISO-8859-1",dtype={'CustomerID': str,'InvoiceID': str})
retail_df.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,01-12-2010 08:26,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6.0,01-12-2010 08:26,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,01-12-2010 08:26,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,01-12-2010 08:26,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,01-12-2010 08:26,3.39,17850,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2.0,01-12-2010 08:26,7.65,17850,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6.0,01-12-2010 08:26,4.25,17850,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6.0,01-12-2010 08:28,1.85,17850,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6.0,01-12-2010 08:28,1.85,17850,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32.0,01-12-2010 08:34,1.69,13047,United Kingdom

In [3]:
sales = pd.read_csv('sales_data_sample.csv',encoding="ISO-8859-1")
sales.head(10)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
5,10168,36,96.66,1,3479.76,10/28/2003 0:00,Shipped,4,10,2003,...,9408 Furth Circle,NaN,Burlingame,CA,94217,USA,NaN,Hirano,Juri,Medium
6,10180,29,86.13,9,2497.77,11/11/2003 0:00,Shipped,4,11,2003,...,"184, chausse de Tournai",NaN,Lille,NaN,59000,France,EMEA,Rance,Martine,Small
7,10188,48,100.00,1,5512.32,11/18/2003 0:00,Shipped,4,11,2003,...,"Drammen 121, PR 744 Sentrum",NaN,Bergen,NaN,N 5804,Norway,EMEA,Oeztan,Veysel,Medium
8,10201,22,98.57,2,2168.54,12/1/2003 0:00,Shipped,4,12,2003,...,5557 North Pendale Street,NaN,San Francisco,CA,NaN,USA,NaN,Murphy,Julie,Small
9,10211,41,100.00,14,4708.44,1/15/2004 0:00,Shipped,1,1,2004,...,"25, rue Lauriston",NaN,Paris,NaN,75016,France,EMEA,Perrier,Dominique,Medium

In [4]:
df1 = pd.read_csv('Superstore.csv',encoding="ISO-8859-1")
df1.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,12-06-2016,16-06-2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [5]:
class rfm:
    
    def __init__(self, df=None, customerID=None, date=None, revenue= None, quantity=None, unitprice=None, invoiceNO=None):
        self.df= df
        #self.revenue= revenue
        self.quantity= quantity
        self.customerID= customerID
        self.date = date
        self.unitprice= unitprice
        self.invoiceNO= invoiceNO
        self.revenue= revenue

    def preprocess(self):
        retail_uk = self.df
        retail_uk = retail_uk[retail_uk[self.quantity]>0]
        retail_uk.dropna(subset=[self.customerID],how='all',inplace=True)
        return retail_uk

    def recency(self):
        retail_uk = self.preprocess()
        retail_uk['date'] = pd.DatetimeIndex(retail_uk[self.date]).date
        now = retail_uk['date'].max()
        recency_df = retail_uk.groupby(by=self.customerID, as_index=False)['date'].max()
        recency_df.columns = ['CustomerID','LastPurshaceDate']
        recency_df['Recency'] = recency_df['LastPurshaceDate'].apply(lambda x: (now - x).days)
        recency_df.drop('LastPurshaceDate',axis=1,inplace=True)
        return recency_df

    def frequency(self):
        retail_uk= self.preprocess()
        retail_uk_copy = retail_uk
        retail_uk_copy.drop_duplicates(subset=[self.invoiceNO, self.customerID], keep="first", inplace=True)
        #calculate frequency of purchases
        frequency_df = retail_uk_copy.groupby(by=[self.customerID], as_index=False)[self.invoiceNO].count()
        frequency_df.columns = ['CustomerID','Frequency']
        return frequency_df
    
    def monetaryvalue(self):
        retail_uk= self.preprocess()
        if self.revenue != None:
            retail_uk['TotalCost'] = retail_uk[self.revenue]
            monetary_df = retail_uk.groupby(by=self.customerID,as_index=False).agg({'TotalCost': 'sum'})
            monetary_df.columns = ['CustomerID','Monetary Value']
            return monetary_df
        else:
            retail_uk['TotalCost'] = retail_uk[self.quantity] * retail_uk[self.unitprice]
            monetary_df = retail_uk.groupby(by=self.customerID,as_index=False).agg({'TotalCost': 'sum'})
            monetary_df.columns = ['CustomerID','Monetary Value']
            return monetary_df

    def rfmtable(self):
        a = self.recency()
        b = self.frequency()
        c = self.monetaryvalue()
        temp_df = a.merge(b,on='CustomerID')
        rfm_df = temp_df.merge(c,on='CustomerID')
        return rfm_df
    
    def rfmsegmentation(self):
        rfm_df= self.rfmtable()
        rfm_segmentation = rfm_df
        quantiles = rfm_df.quantile(q=[0.25,0.5,0.75])
        quantiles.to_dict()
        def RScore(x,p,d):
            if x <= d[p][0.25]:
                return 4
            elif x <= d[p][0.50]:
                return 3
            elif x <= d[p][0.75]: 
                return 2
            else:
                return 1
        # Arguments (x = value, p = recency, monetary_value, frequency, k = quartiles dict)
        def FMScore(x,p,d):
            if x <= d[p][0.25]:
                return 1
            elif x <= d[p][0.50]:
                return 2
            elif x <= d[p][0.75]: 
                return 3
            else:
                return 4
        rfm_segmentation['R_Quartile'] = rfm_segmentation['Recency'].apply(RScore, args=('Recency',quantiles,))
        rfm_segmentation['F_Quartile'] = rfm_segmentation['Frequency'].apply(FMScore, args=('Frequency',quantiles,))
        rfm_segmentation['M_Quartile'] = rfm_segmentation['Monetary Value'].apply(FMScore, args=('Monetary Value',quantiles,))
        rfm_segmentation['RFMScore'] = rfm_segmentation.R_Quartile.map(str) \
                            + rfm_segmentation.F_Quartile.map(str) \
                            + rfm_segmentation.M_Quartile.map(str)
        display(rfm_segmentation)
        print("Best Customers: ",len(rfm_segmentation[rfm_segmentation['RFMScore']=='444']))
        print('Loyal Customers: ',len(rfm_segmentation[rfm_segmentation['F_Quartile']==4]))
        print("Big Spenders: ",len(rfm_segmentation[rfm_segmentation['M_Quartile']==4]))
        print('Almost Lost: ', len(rfm_segmentation[rfm_segmentation['RFMScore']=='244']))
        print('Lost Customers: ',len(rfm_segmentation[rfm_segmentation['RFMScore']=='144']))
        print('Lost Cheap Customers: ',len(rfm_segmentation[rfm_segmentation['RFMScore']=='111']))

# Testing

## Test 1

In [6]:
r = rfm(df= retail_df, quantity= 'Quantity', customerID='CustomerID', date= 'InvoiceDate', unitprice= 'UnitPrice', invoiceNO='InvoiceNo')
r.recency()

     CustomerID  Recency
0         12346      324
1         12347       93
2         12348      218
3         12350      309
4         12352      261
5         12353      203
6         12354      231
7         12355       94
8         12356      126
9         12358        1
10        12359        7
11        12360      111
12        12361      286
13        12362       30
14        12363       34
15        12364      111
16        12365      290
17        12370       66
18        12372       33
19        12373      340
20        12377      314
21        12378      303
22        12379      169
23        12380      155
24        12381        0
25        12383        7
26        12384       61
27        12386      190
28        12388       96
29        12393       37
...         ...      ...
3290      18231      191
3291      18232      191
3292      18233      324
3293      18235       30
3294      18236      154
3295      18237        0
3296      18239      217
3297      18241      105
3298      18242       64
3299      18245        3
3300      18246      232
3301      18248       91
3302      18250      309
3303      18252      170
3304      18257      113
3305      18259      483
3306      18260       98
3307      18262      139
3308      18263      154
3309      18265      245
3310      18268      133
3311      18269      483
3312      18270      265
3313      18272        1
3314      18273      256
3315      18280      158
3316      18281        2
3317      18282      214
3318      18283      147
3319      18287      200

[3320 rows x 2 columns]

In [7]:

r.frequency()

     CustomerID  Frequency
0         12346          1
1         12347          5
2         12348          3
3         12350          1
4         12352          5
5         12353          1
6         12354          1
7         12355          1
8         12356          2
9         12358          1
10        12359          3
11        12360          2
12        12361          1
13        12362          4
14        12363          2
15        12364          1
16        12365          2
17        12370          3
18        12372          2
19        12373          1
20        12377          2
21        12378          1
22        12379          1
23        12380          1
24        12381          1
25        12383          5
26        12384          1
27        12386          2
28        12388          4
29        12393          3
...         ...        ...
3290      18231          5
3291      18232          3
3292      18233          1
3293      18235          2
3294      18236          4
3295      18237          2
3296      18239          5
3297      18241         10
3298      18242          2
3299      18245          6
3300      18246          1
3301      18248          2
3302      18250          1
3303      18252          1
3304      18257          5
3305      18259          1
3306      18260          6
3307      18262          1
3308      18263          2
3309      18265          1
3310      18268          1
3311      18269          1
3312      18270          1
3313      18272          4
3314      18273          1
3315      18280          1
3316      18281          1
3317      18282          1
3318      18283          9
3319      18287          1

[3320 rows x 2 columns]

In [8]:

r.monetaryvalue()

     CustomerID  Monetary Value
0         12346        77183.60
1         12347         2790.86
2         12348         1487.24
3         12350          334.40
4         12352         1561.81
5         12353           89.00
6         12354         1079.40
7         12355          459.40
8         12356         2753.08
9         12358          484.86
10        12359         3495.73
11        12360         1618.28
12        12361          189.90
13        12362         1747.35
14        12363          552.00
15        12364          623.92
16        12365          641.38
17        12370         2806.41
18        12372          914.92
19        12373          364.60
20        12377         1628.12
21        12378         4008.62
22        12379          459.84
23        12380          607.55
24        12381         1268.74
25        12383         1850.56
26        12384          292.69
27        12386          401.90
28        12388         1668.34
29        12393         1061.10
...         ...             ...
3290      18231         2083.27
3291      18232          500.62
3292      18233          440.00
3293      18235          749.80
3294      18236          641.19
3295      18237          566.59
3296      18239         1561.61
3297      18241         1205.78
3298      18242          694.08
3299      18245         1672.81
3300      18246          232.90
3301      18248          804.02
3302      18250          349.27
3303      18252           69.90
3304      18257         1562.87
3305      18259          376.30
3306      18260         2643.20
3307      18262          149.48
3308      18263          811.40
3309      18265          488.55
3310      18268           25.50
3311      18269          168.60
3312      18270          111.95
3313      18272         2106.45
3314      18273           51.00
3315      18280          180.60
3316      18281           80.82
3317      18282          100.21
3318      18283          985.77
3319      18287          765.28

[3320 rows x 2 columns]

In [9]:
r.rfmtable()

     CustomerID  Recency  Frequency  Monetary Value
0         12346      324          1        77183.60
1         12347       93          5         2790.86
2         12348      218          3         1487.24
3         12350      309          1          334.40
4         12352      261          5         1561.81
5         12353      203          1           89.00
6         12354      231          1         1079.40
7         12355       94          1          459.40
8         12356      126          2         2753.08
9         12358        1          1          484.86
10        12359        7          3         3495.73
11        12360      111          2         1618.28
12        12361      286          1          189.90
13        12362       30          4         1747.35
14        12363       34          2          552.00
15        12364      111          1          623.92
16        12365      290          2          641.38
17        12370       66          3         2806.41
18        12372       33          2          914.92
19        12373      340          1          364.60
20        12377      314          2         1628.12
21        12378      303          1         4008.62
22        12379      169          1          459.84
23        12380      155          1          607.55
24        12381        0          1         1268.74
25        12383        7          5         1850.56
26        12384       61          1          292.69
27        12386      190          2          401.90
28        12388       96          4         1668.34
29        12393       37          3         1061.10
...         ...      ...        ...             ...
3290      18231      191          5         2083.27
3291      18232      191          3          500.62
3292      18233      324          1          440.00
3293      18235       30          2          749.80
3294      18236      154          4          641.19
3295      18237        0          2          566.59
3296      18239      217          5         1561.61
3297      18241      105         10         1205.78
3298      18242       64          2          694.08
3299      18245        3          6         1672.81
3300      18246      232          1          232.90
3301      18248       91          2          804.02
3302      18250      309          1          349.27
3303      18252      170          1           69.90
3304      18257      113          5         1562.87
3305      18259      483          1          376.30
3306      18260       98          6         2643.20
3307      18262      139          1          149.48
3308      18263      154          2          811.40
3309      18265      245          1          488.55
3310      18268      133          1           25.50
3311      18269      483          1          168.60
3312      18270      265          1          111.95
3313      18272        1          4         2106.45
3314      18273      256          1           51.00
3315      18280      158          1          180.60
3316      18281        2          1           80.82
3317      18282      214          1          100.21
3318      18283      147          9          985.77
3319      18287      200          1          765.28

[3320 rows x 4 columns]

In [10]:
r.rfmsegmentation()

,CustomerID,Recency,Frequency,Monetary Value,R_Quartile,F_Quartile,M_Quartile,RFMScore
0,12346,324,1,77183.60,1,1,4,114
1,12347,93,5,2790.86,4,4,4,444
2,12348,218,3,1487.24,2,3,4,234
3,12350,309,1,334.40,1,1,2,112
4,12352,261,5,1561.81,1,4,4,144
5,12353,203,1,89.00,2,1,1,211
6,12354,231,1,1079.40,2,1,3,213
7,12355,94,1,459.40,4,1,2,412
8,12356,126,2,2753.08,3,2,4,324
9,12358,1,1,484.86,4,1,2,412
10,12359,7,3,3495.73,4,3,4,434
11,12360,111,2,1618.28,3,2,4,324
12,12361,286,1,189.90,1,1,1,111
13,12362,30,4,1747.35,4,3,4,434
14,12363,34,2,552.00,4,2,2,422
15,12364,111,1,623.92,3,1,3,313
16,12365,290,2,641.38,1,2,3,123
17,12370,66,3,2806.41,4,3,4,434
18,12372,33,2,914.92,4,2,3,423
19,12373,340,1,364.60,1,1,2,112
20,12377,314,2,1628.12,1,2,4,124
21,12378,303,1,4008.62,1,1,4,114
22,12379,169,1,459.84,2,1,2,212
23,12380,155,1,607.55,2,1,3,213
24,12381,0,1,1268.74,4,1,3,413
25,12383,7,5,1850.56,4,4,4,444
26,12384,61,1,292.69,4,1,2,412
27,12386,190,2,401.90,2,2,2,222
28,12388,96,4,1668.34,4,3,4,434
29,12393,37,3,1061.10,4,3,3,433
...,...,...,...,...,...,...,...,...
3290,18231,191,5,2083.27,2,4,4,244
3291,18232,191,3,500.62,2,3,2,232
3292,18233,324,1,440.00,1,1,2,112
3293,18235,30,2,749.80,4,2,3,423
3294,18236,154,4,641.19,2,3,3,233
3295,18237,0,2,566.59,4,2,3,423
3296,18239,217,5,1561.61,2,4,4,244
3297,18241,105,10,1205.78,3,4,3,343
3298,18242,64,2,694.08,4,2,3,423
3299,18245,3,6,1672.81,4,4,4,444
3300,18246,232,1,232.90,2,1,1,211
3301,18248,91,2,804.02,4,2,3,423
3302,18250,309,1,349.27,1,1,2,112
3303,18252,170,1,69.90,2,1,1,211
3304,18257,113,5,1562.87,3,4,4,344
3305,18259,483,1,376.30,1,1,2,112
3306,18260,98,6,2643.20,3,4,4,344
3307,18262,139,1,149.48,3,1,1,311
3308,18263,154,2,811.40,2,2,3,223
3309,18265,245,1,488.55,1,1,2,112
3310,18268,133,1,25.50,3,1,1,311
3311,18269,483,1,168.60,1,1,1,111
3312,18270,265,1,111.95,1,1,1,111
3313,18272,1,4,2106.45,4,3,4,434
3314,18273,256,1,51.00,1,1,1,111
3315,18280,158,1,180.60,2,1,1,211
3316,18281,2,1,80.82,4,1,1,411
3317,18282,214,1,100.21,2,1,1,211
3318,18283,147,9,985.77,2,4,3,243
3319,18287,200,1,765.28,2,1,3,213

Best Customers:  303
Loyal Customers:  651
Big Spenders:  830
Almost Lost:  47
Lost Customers:  4
Lost Cheap Customers:  362

### Pass/Fail
Test Passed

## Test 2

In [11]:
s = rfm(df= sales, quantity= 'QUANTITYORDERED', customerID='CONTACTLASTNAME', date= 'ORDERDATE', unitprice= 'PRICEEACH', invoiceNO='ORDERNUMBER')
s.rfmsegmentation()

,CustomerID,Recency,Frequency,Monetary Value,R_Quartile,F_Quartile,M_Quartile,RFMScore
0,Accorti,264,2,72645.01,1,1,2,112
1,Ashworth,195,3,136873.25,2,2,4,224
2,Barajas,263,2,48385.01,1,1,1,111
3,Benitez,89,3,77027.44,3,2,2,322
4,Bennett,211,2,73170.13,2,1,2,212
5,Berglund,193,4,58374.21,2,3,2,232
6,Bergulfsen,207,4,95223.90,2,3,3,233
7,Bertrand,192,3,73965.52,2,2,2,222
8,Brown,58,10,272790.97,4,4,4,444
9,Calaghan,118,3,46399.18,3,2,1,321
10,Cartrain,141,4,25960.70,3,3,1,331
11,Cassidy,257,2,43237.24,1,1,1,111
12,Cervantes,229,2,56799.98,2,1,1,211
13,Chandler,508,2,42093.78,1,1,1,111
14,Citeaux,47,3,65824.33,4,2,2,422
15,Connery,22,3,56139.62,4,2,1,421
16,Cruz,196,3,80291.17,2,2,3,223
17,Da Cunha,75,3,59136.70,3,2,2,322
18,Devon,53,3,93250.59,4,2,3,423
19,Dewey,1,3,68568.18,4,2,2,422
20,Donnermeyer,258,1,32701.58,1,1,1,111
21,Ferguson,183,5,164575.87,2,4,4,244
22,Fernandez,438,2,40655.72,1,1,1,111
23,Franco,400,2,56374.92,1,1,1,111
24,Fresnisre,30,3,61414.10,4,2,2,422
25,Freyre,0,26,766195.05,4,4,4,444
26,Frick,39,9,277544.89,4,4,4,444
27,Hardy,495,2,31550.77,1,1,1,111
28,Henriot,62,5,116502.73,3,4,3,343
29,Hernandez,191,8,209432.67,2,4,4,244
...,...,...,...,...,...,...,...,...
47,Moroni,21,3,109614.22,4,2,3,423
48,Murphy,194,5,118656.61,2,4,4,244
49,Natividad,90,5,131279.95,3,4,4,344
50,Nelson,2,20,597751.56,4,4,4,444
51,O'Hara,83,4,121260.41,3,3,4,334
52,Oeztan,270,3,86339.11,1,2,3,123
53,Perrier,54,3,79857.60,4,2,3,423
54,Petersen,46,5,115268.84,4,4,3,443
55,Pfalzheim,227,2,79042.13,2,1,3,213
56,Pipps,14,4,126287.85,4,3,4,434
57,Rance,465,2,56856.39,1,1,1,111
58,Roel,237,2,45684.78,1,1,1,111
59,Roulet,64,3,58885.28,3,2,2,322
60,Rovelli,200,3,127143.64,2,2,4,224
61,Saavedra,188,3,73927.00,2,2,2,222
62,Saveley,455,3,118580.23,1,2,4,124
63,Schmitt,187,3,21213.16,2,2,1,221
64,Shimamura,39,4,97456.04,4,3,3,433
65,Sommer,211,3,95243.42,2,2,3,223
66,Suominen,145,3,88753.26,3,2,3,323
67,Tam,144,3,95672.21,3,2,3,323
68,Tannamuri,221,2,60597.91,2,1,2,212
69,Taylor,179,5,65110.50,3,4,2,342
70,Thompson,460,4,119968.30,1,3,4,134
71,Tonini,232,2,53364.97,1,1,1,111
72,Tseng,388,2,31147.37,1,1,1,111
73,Victorino,38,4,96705.55,4,3,3,433
74,Yoshido,25,3,77547.62,4,2,2,422
75,Young,112,12,348077.64,3,4,4,344
76,Yu,1,8,235176.44,4,4,4,444

Best Customers:  6
Loyal Customers:  14
Big Spenders:  19
Almost Lost:  3
Lost Customers:  0
Lost Cheap Customers:  12

### Pass

## Test 3

In [12]:
v = rfm(df= df1, quantity= 'Quantity', customerID='Customer ID', date= 'Order Date', unitprice= 'Sales', invoiceNO='Order ID')
v.rfmsegmentation()

,CustomerID,Recency,Frequency,Monetary Value,R_Quartile,F_Quartile,M_Quartile,RFMScore
0,AA-10315,184,5,16073.3440,2,1,3,213
1,AA-10375,48,9,2734.8300,3,4,1,341
2,AA-10480,259,4,5493.9360,1,1,2,112
3,AA-10645,233,6,22927.8550,1,2,4,124
4,AB-10015,445,3,1984.4800,1,1,1,111
5,AB-10060,105,8,35390.5800,2,3,4,234
6,AB-10105,41,10,143857.7090,3,4,4,344
7,AB-10150,41,5,3111.2420,3,1,1,311
8,AB-10165,106,8,3625.5140,2,3,1,231
9,AB-10255,166,9,2397.5640,2,4,1,241
10,AB-10600,80,4,6303.1400,3,1,2,312
11,AC-10420,25,3,3059.7680,4,1,1,411
12,AC-10450,11,7,19698.8460,4,3,4,434
13,AC-10615,6,5,9504.6900,4,1,2,412
14,AC-10660,282,5,1458.1520,1,1,1,111
15,AD-10180,47,8,24777.9560,3,3,4,334
16,AF-10870,41,7,7165.9620,3,3,2,332
17,AF-10885,445,4,4649.2110,1,1,1,111
18,AG-10270,278,5,23445.1260,1,1,4,114
19,AG-10300,296,4,1018.7480,1,1,1,111
20,AG-10330,8,5,3681.0580,4,1,1,411
21,AG-10390,174,5,1214.3030,2,1,1,211
22,AG-10495,78,8,14294.3710,3,3,3,333
23,AG-10525,905,4,4166.4180,1,1,1,111
24,AG-10675,97,7,14384.3304,2,3,3,233
25,AG-10765,77,4,655.1080,3,1,1,311
26,AG-10900,96,10,25244.5150,3,4,4,344
27,AH-10030,12,7,11459.5520,4,3,3,433
28,AH-10075,34,10,9664.2650,4,4,2,442
29,AH-10120,60,7,7796.5180,3,3,2,332
...,...,...,...,...,...,...,...,...
763,TS-21340,226,5,6030.0260,1,1,2,112
764,TS-21370,36,6,52109.2490,4,2,4,424
765,TS-21430,53,5,13797.1680,3,1,3,313
766,TS-21505,11,6,7012.8220,4,2,2,422
767,TS-21610,24,7,17500.3880,4,3,3,433
768,TS-21655,208,5,12942.7980,2,1,3,213
769,TT-21070,31,7,25530.0340,4,3,4,434
770,TT-21220,183,8,6978.3280,2,3,2,232
771,TT-21265,406,3,995.4000,1,1,1,111
772,TT-21460,12,7,26023.6400,4,3,4,434
773,TW-21025,64,7,34954.2620,3,3,4,334
774,TZ-21580,35,4,6686.2500,4,1,2,412
775,VB-21745,149,6,11538.1880,2,2,3,223
776,VD-21670,581,6,31972.5020,1,2,4,124
777,VF-21715,13,5,4484.4600,4,1,1,411
778,VG-21790,145,6,3746.8940,2,2,1,221
779,VG-21805,286,5,1200.1320,1,1,1,111
780,VM-21685,167,7,10190.7100,2,3,3,233
781,VM-21835,265,5,1371.8620,1,1,1,111
782,VP-21730,30,3,3103.2660,4,1,1,411
783,VP-21760,75,7,19451.9020,3,3,4,334
784,VS-21820,221,4,5657.7630,1,1,2,112
785,VT-21700,971,2,8102.7320,1,1,2,112
786,VW-21775,43,10,34896.7780,3,4,4,344
787,WB-21850,49,11,31228.4000,3,4,4,344
788,XP-21865,43,11,8676.2140,3,4,2,342
789,YC-21895,4,5,27208.9260,4,1,4,414
790,YS-21880,9,8,46478.9920,4,3,4,434
791,ZC-21910,54,13,40212.8890,3,4,4,344
792,ZD-21925,54,5,6492.4480,3,1,2,312

Best Customers:  29
Loyal Customers:  159
Big Spenders:  198
Almost Lost:  16
Lost Customers:  7
Lost Cheap Customers:  64

### Pass